# Laravel core
/vendor/
node_modules/

# Logs & Cache
/storage/*.log
/storage/logs/*
/bootstrap/cache/*.php
/storage/logs/laravel.log

# Build files
/public/build
/public/hot
/public/storage

# Environment & credentials
.env
.env.backup
.env.production
auth.json

# System & IDE files
/.vagrant
/.fleet
/.idea
/.vscode

# Test & coverage
.phpunit.result.cache
.phpunit.cache
coverage/

# Ignore everything in storage/app/public...
/storage/app/public/*

# ...except these:
!/storage/app/public/.gitkeep
!/storage/app/public/img.svg

.DS_Store
storage/logs/laravel.log
