# Laravel core
/vendor/
node_modules/

# Logs & Cache
/storage/*.log
/storage/logs/*
/bootstrap/cache/*.php

# Build files
/public/build
/public/hot
/public/storage

# Environment & credentials
.env
.env.backup
.env.production
auth.json

# System & IDE files
/.vagrant
/.fleet
/.idea
/.vscode

# Test & coverage
.phpunit.result.cache
.phpunit.cache
coverage/

# Optional: exclude specific uploads, allow logo
#/storage/app/public/store_image
!/storage/app/public/fyonka.svg
!/storage/app/public/fyonka0.svg
